@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased text-white bg-dark-900;
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}